body{
    background-color: #fdffcd;
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todobox{
    margin: 40px 0;
    height: 500px;
    width: 700px;
}

#headline{
    font-size: 30px;
    margin-bottom:15px; 
    padding:10px;
    text-align: center;
}

#textbox{
    text-align: center;
}

.input{
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}
#inputbox{
    width: 100%;
    max-width: 400px;
    color: #1d1716;
}
#submit{
    color: #393e46;
    background-color: #ffcab0;
}

.listbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.list{
    margin:2px 0;
    padding: 10px 15px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100vh;
    max-width: 400px;
    color:#3a4750;
    display: flex;
}

.textspace{
    text-align: left;
    width: 70vh;
}
button{
     border: 2px solid #ccc;
}
#tobedone{
    background-color: #ffcab0;
}
#completed{
    background-color: #e0ffcd;
}
#completetitle{
    margin:10px 0;
}
